* {
    margin: 2px;
    padding: 5px;
}


h2 {
    color: #131b22;
}

h3 {
    color: #232f3a;
    font-size: medium;
}

h4{
    color: #5373af;
}
body {
    color: white;
    background-color: #181818;
}


.btn {
    border: none;
    border-radius: 6px;
    color: #fff;
    padding-bottom: 15px;
    position: relative;
}

.btn:hover {
    color: #fff;
}

.btn:after {
    content: "";
    width: 0;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 0 5px 5px;
    transition: all 0.35s ease 0s;
}

.btn:hover:after {
    width: 100%;
}

.btn:hover:after {
    width: 100%;
}

.btn.btn-xs {
    padding-bottom: 8px;
    background-image: linear-gradient(to top, #214ea0 0px, #34599e 6px, #48659b 6px, #3567c4 100%);
}

.btn.btn-xs:after {
    height: 6px;
}

.btn.red:after {
    background: #1fbfff;
}

@media only screen and (max-width: 767px) {
    .btn {
        margin-bottom: 20px;
    }
}

.nav-link {
    transition: 0.3s ease;
    background-color: #181818;
    color: #5373af;
    font-size: 20px;
    text-decoration: none;
    padding: 20px 0;
    margin: 0 20px;
}

.nav-link:hover {
    border-top: 4px solid #f2fcfe;
    border-bottom: 4px solid #f2fcfe;
    padding: 6px 0;
}

footer a {
    margin: 20px;
    text-align: center;
    color: #93ddaf;
    font-size: small;
}

footer {
    display: flex;
    justify-content: center;
}

footer p {
    margin-top: 2px;
}

.footer {
    width: 40px;
    height: 40px;
}

.card {
    border: 1px solid #ddd;
    border-radius: 6px;
    max-width: 350px;
    text-align: center;
    margin-top: 60px;
    margin: auto;
    background: linear-gradient(to right, #1c92d2, #f2fcfe) border-box;
}

.card_img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 100%;
    margin: -60px auto 0;
}

.card_info {
    padding-bottom: 20px;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: black;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
}
#myDIV2 img{
    max-width: 100%;
}

#myDIV img{
    max-width: 100%;
}